{
  "env": {
    "es6": true,
    "browser": true,
  },
  "extends": "airbnb",
  "rules": {
    "react/forbid-prop-types": ["error", { forbid: ["any", "array"] }],
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    }
  }
}
