<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://maps.googleapis.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preload" href="vendor.bundle.js" as="script"></script>
    <link rel="preload" href="bundle.js" as="script"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.productionURL %>">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.productionURL %>static/images/mobile-screenshot.png">
    <meta property="og:image:width" content="603">
    <meta property="og:image:height" content="389">
    <meta name="twitter:image:alt" content="Screenshot of LunchWatch showing the menus of two restaurants">
    <meta name="twitter:label1" value="Built with">
    <meta name="twitter:data1" value="️❤️">
    <meta name="twitter:label2" value="Also built with">
    <meta name="twitter:data2" value="JavaScript">

    <% if (htmlWebpackPlugin.options.googleMapsJsApiKey) { %>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.googleMapsJsApiKey %>&libraries=places"></script>
    <% } %>
    <script defer src="vendor.bundle.js"></script>
    <script defer src="bundle.js"></script>
    <% if (htmlWebpackPlugin.options.googleAnalyticsTrackingId) { %>
    <script defer src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.googleAnalyticsTrackingId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= htmlWebpackPlugin.options.googleAnalyticsTrackingId %>');
    </script>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  </head>
  <body>
    <noscript>
      If you're seeing this message, that means <strong>JavaScript has been disabled on your browser</strong>, please <strong>enable JavaScript</strong> to make this app work.
    </noscript>
    <div id="root"></div>
  </body>
</html>
